# Node modules
node_modules/

# Environment variables
.env

# Build output
dist/

# Logs
logs/
*.log

# OS-specific
.DS_Store
Thumbs.db

# IDE/editor folders
.vscode/
.idea/


seed.test.ts
drop_slug.ts